@charset "UTF-8";
/* CSS Document */

body 
{
	background-image:url("wall.jpg");
	text-align: center;
}

@font-face { 	font-family: "Work"; 	src: url('rec.ttf'); 
 		font-family: "valid"; 	src: url('LEVIBRUSH.TTF'); }



#titrecool
{
	color:#DDD;
	font-family: "Work";
	font-size:60px;
}

#art p{
	font-family:Arial,sans-serif;
    font-size:1.6em;
    width:200px;
    height:43px;
    padding-top:7px; /*permet le centrage vertical*/
    text-align:center;
    color:#000;
	background:#444;
    background:-moz-linear-gradient(top,#555,#2C2C2C);
    background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#2C2C2C));
	-webkit-border-radius:8px;
        -moz-border-radius:8px;
            border-radius:8px;
			 text-shadow:0px 1px 0px white;
			 text-shadow:0px 1px 0px rgba(255,255,255,0.2);
			 -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5), 
                       0 -1px 0 rgba(255,255,255,0.4);
       -moz-box-shadow:0 0 5px rgba(0,0,0,0.5),
                       0 -1px 0 rgba(255,255,255,0.4);
            box-shadow:0 0 5px rgba(0,0,0,0.5),
                       0 -1px 0 rgba(255,255,255,0.4);
}

#art p3{
	font-family:Arial,sans-serif;
    font-size:1.6em;
    width:200px;
    height:43px;
    padding-top:7px; /*permet le centrage vertical*/
    text-align:center;
    color:#000;
	background:#444;
    background:-moz-linear-gradient(top,#555,#2C2C2C);
    background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#2C2C2C));
	-webkit-border-radius:8px;
        -moz-border-radius:8px;
            border-radius:8px;
			 text-shadow:0px 1px 0px white;
			 text-shadow:0px 1px 0px rgba(255,255,255,0.2);
			 -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5), 
                       0 -1px 0 rgba(255,255,255,0.4);
       -moz-box-shadow:0 0 5px rgba(0,0,0,0.5),
                       0 -1px 0 rgba(255,255,255,0.4);
            box-shadow:0 0 5px rgba(0,0,0,0.5),
                       0 -1px 0 rgba(255,255,255,0.4);
}

a
{
	color:#DDD;
}
img#reflet
{
	-webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(white));
}


input#reflect
{
	-webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.4, transparent), to(white));
	outline:none;
}

img#icone
{
width:90px;
height:90px;
box-shadow: 1px 1px 12px #BBB;
border-radius: 10px 10px 10px 10px;
}

#principale
{
	position:float;
	float:center; 
	z-index:-1;  
	top:0; 
	bottom:0; 
	left:0; 
	right: 0; 
 	margin: auto;
	margin-top: 12%;
	border-radius: 17px 17px 17px 17px;
	background-color:#888;
	/*opacity:0.55;*/
	height:50%;
	width:40%;
	box-shadow: 1px 1px 12px #FFF;
}

#app17
{
	position:absolute; 
	z-index:100; 
 	width: 90px; 
	height: 90px; 
	top:0%; 
	bottom:0%; 
	left:0%; 
	right:55%; 
 	margin: auto;
	opacity:0.95; 	
	border-radius: 10px 10px 10px 10px;
	background-color:#999;
	box-shadow: 1px 1px 12px #BBB;
	
}

#app21
{
	position:absolute; 
	z-index:101; 
 	width: 90px; 
	height: 90px; 
	top:0%; 
	bottom:55%; 
	left:0%; 
	right:55%; 
 	margin: auto;
	opacity:0.95; 	
	border-radius: 10px 10px 10px 10px;
	background-color:#999;
	box-shadow: 1px 1px 12px #BBB;
}

#app22
{
	position:absolute; 
	z-index:102; 
 	width: 90px; 
	height: 90px; 
	top:0%; 
	bottom:70%; 
	left:0%; 
	right:20%; 
	margin: auto;
	opacity:0.95; 	
	border-radius: 10px 10px 10px 10px;
	background-color:#999;
	box-shadow: 1px 1px 12px #BBB;
}

#app4
{
	position:absolute; 
	z-index:-1; 
 	width: 75px; 
	height: 75px; 
	top:0%; 
	bottom:70%; 
	left:0%; 
	right:-20%; 
	margin: auto;
	opacity:0.95; 	
	border-radius: 10px 10px 10px 10px;
	background-color:#999;
	box-shadow: 1px 1px 12px #BBB;
}

#app5
{
	position:absolute; 
	z-index:-1; 
 	width: 75px; 
	height: 75px; 
	top:0%; 
	bottom:50%; 
	left:0%; 
	right:-55%; 
	margin: auto;
	opacity:0.95; 	
	border-radius: 10px 10px 10px 10px;
	background-color:#999;
	box-shadow: 1px 1px 12px #BBB;
}

#app6
{
	position:absolute; 
	z-index:-1; 
 	width: 75px; 
	height: 75px; 
	top:0%; 
	bottom:0%; 
	left:0%; 
	right:-65%; 
	margin: auto;
	opacity:0.95; 	
	border-radius: 10px 10px 10px 10px;
	background-color:#999;
	box-shadow: 1px 1px 12px #BBB;
}

/*BOUTON RESEAUX SOCIAUX*/
.social-connector{
	width:320px;
	padding:5px;
	overflow:hidden;
	border:1px solid #ccc;
	background:#f3f3f3;
	margin-bottom:10px
}

.social-connector.connected{
	background:#fff
}

.social-connector .network-icon{
	vertical-align:middle;
	margin-right:5px;
	background:url(//s.ytimg.com/yt/imgbin/www-sharing-vflIBlxAE.png)
}

.twitter.social-connector .network-icon{
	background:no-repeat url(//s.ytimg.com/yt/imgbin/www-sharing-vflIBlxAE.png) 0 -1253px;
	width:32px;
	height:32px
}

.facebook.social-connector .network-icon{
	background:no-repeat url(//s.ytimg.com/yt/imgbin/www-sharing-vflIBlxAE.png) 0 -50px;
	width:32px;
	height:32px
}

.orkut.social-connector .network-icon{
	background:no-repeat url(//s.ytimg.com/yt/imgbin/www-sharing-vflIBlxAE.png) 0 -136px;
	width:32px;
	height:32px
}

.social-connector .left-section{
	float:left
}

.social-connector .info{
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1
}

.social-connector .info .social-network-name,.social-connector .info .social-network-username{
	float:left;
	clear:both;
	display:inline-block;
	*display:inline;
	*zoom:1
}


.social-connector .info .social-network-username{
	color:#999;
	font-size:11px;
	width:100px;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
	*zoom:1;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}

.social-connector .info .social-network-button{
	color:#999;
	font-size:11px;
	width:100px;
	overflow:hidden;
	white-space:nowrap;
	word-wrap:normal;
	*zoom:1;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}


/*FIN BOUTON RESEAUX SOCIAUX*/

.in
{
background-color:#999;
box-shadow: 0px 0px 1px #FFF;
color: white;
}

.button {
border-top: 1px solid #96d1f8;
background: #65a9d7;
background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
background: -moz-linear-gradient(top, #3e779d, #65a9d7);
background: -ms-linear-gradient(top, #3e779d, #65a9d7);
background: -o-linear-gradient(top, #3e779d, #65a9d7);
padding: 1px 11px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: white;
font-size: 14px;
font-family: Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align: middle;
}

.button:hover {
border-top-color: #28597a;
background: #28597a;
color: #ccc;
}

.button:active {
border-top-color: #1b435e;
background: #1b435e;
}

hr {
top: -30px;
margin: 0;
padding: 0;
}


/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}

.LV_validation_message{
    font-family: "valid";
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

#principale_logon
{
	position:float;
	float:center; 
	z-index:-1;  
	top:0; 
	bottom:0; 
	left:0; 
	right: 0; 
 	margin: auto;
	margin-top: 12%;
	border-radius: 17px 17px 17px 17px;
	background-color:#888;
	/*opacity:0.55;*/
	height:70%;
	width:40%;
	box-shadow: 1px 1px 12px #FFF;
	color:white;
}
